<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    {{#if log}}
    <header>
        <img src="/img/universe_icon.png" id="icon_universe" alt="ícone do universo">
        <nav>
            <a href="/">Home</a>
            <a href="/planetas">Viagens Planetárias</a>
            <a href="/logout">Logout</a>
            <a>Usuário: {{user}}</a>
        </nav>
    </header>

    {{else}}

    <header>
        <img src="/img/universe_icon.png" id="icon_universe" alt="ícone do universo">
        <nav>
            <a href="/">Home</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    {{/if}}

    <main>
        {{{body}}}
    </main>

</body>
</html>