<h1>Sistema Gerenciador da WatchWizard</h1>
<br>
<div class="listas">
    <h2>Clientes</h2>
    <div>
        <button><a href="/listarCliente">Lista de Clientes</a></button>
    </div>
    <h2>Produtos</h2>
    <div>
        <button><a href="/cadastrarProduto">Cadastro de Produtos</a></button>
        <button><a href="/listarProduto">Lista de Produtos</a></button>
        <button><a href="/editarProduto">Edição de Produtos</a></button>
        <button><a href="/apagarProduto">Exclusão de Produtos</a></button>
    </div>
</div>