<h1>Gerenciador das Viagens Planetárias</h1>
<nav>
    <a href="/cadastrar_viagem">Cadastrar Viagem</a>&emsp;
    <a href="/listar_viagem">Listar Viagem</a>&emsp;
    <a href="/editar_viagem">Editar Viagem</a>
    <a href="/excluir_viagem">Excluir Viagem</a>
</nav>
<br>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 