<header class="header">
    <div class="cont-header">
        <div class="cont-header-box">
            <h1>Viagens Universais</h1>
            <div class="cont-header-box-text">
                <p>No mesmo dia que você volta do trabalho, após 8 longas horas de serviço, você pode viajar 1.195 milhões de km e admirar os anéis de Saturno!!</p>
            </div>
        </div>
    </div>
    <div class="cont-header-desconto">
        <h2>Desconto imperdível para usuários cadastrados agora!</h2>
    </div>
</header>
<main>
    <div class="marte">
        <div class="marte-desconto">
            <div class="marte-desconto-info-basica">
                <h2>Distância: 0.00002564 anos-luz</h2>
                <h2>Descoberta: 1610</h2>
                <h2>Preço: U$ 5.000.000</h2>
                <h2>Temperatura: -245C°</h2>
            </div>
            <div class="marte-desconto-cont">
                <h2 class="info-travel">Explore o planeta vermelho de Marte!</h2>
                <button><a href="/marte.html">Procure!</a></button>
            </div>
        </div>
    </div>
    <div class="lua">
        <div class="lua-desconto">
            <div class="lua-desconto-info-basica">
                <h2>Distância: 1.28seg na velocidade da luz</h2>
                <h2>Descoberta: 1610</h2>
                <h2>Preço: U$ 1.500.000</h2>
                <h2>Temperatura: de -184°C até 214°C</h2>
            </div>
            <div class="lua-desconto-cont">
                <h2 class="info-travel">Vá para a enigmática Lua e veja o outro lado da lua!</h2>
                <button><a href="/lua.html">Procure!</a></button>
            </div>
        </div>    
    </div>
</main>

<footer>
    <h2>Se inscreva <br> ganhe um desconto especial!</h2>
    <p>Apesar dos pesares, ainda somos nós que teremos que descer das árvores, desbravar o mundo, lutar por comida, tentar dormir sem sono, olhar pro céu e sonhar com um mundo melhor..</p>
    <div class="input">
        <input type="email" placeholder="Digite seu melhor Email"><button type="submit">Inscreva-se</button>
    </div>
    <ul>
        <li>19<h6>Pensamentos revolucionários sobre dogmas</h6></li>
        <li>3<h6>Primeiro ser-humano a pisar em Saturno foi pela nossa empresa</h6></li>
        <li>40<h6>Empresa conta com mais de 2147483648 viagens realizadas</h6></li>
        <li>21<h6>Empresa com segurança, conforto e nostalgia pra você!!</h6></li>
    </ul>
</footer>
