<h1>Viagens Planetárias</h1>
<div class="container-1">
    <div class="andromeda">
        
    </div>
    <div class="centauri">

    </div>
    <div class="pilar">

    </div>
</div>
<div class="container-2">
    <div class="marte">
        
    </div>
    <div class="saturno">

    </div>
    <div class="lua">

    </div>
</div>