<script src="/js/itens_carrinho.js" defer></script>

<h1>Viagens Planetárias</h1>
<div class="container-1">
    <div class="andromeda">
        <p class="andromeda-text">Andrômeda</p>
        <img src="/img/andromeda2.jpg" alt="Andromeda" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">20.000.000</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Andrômeda" data-preco="20000000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
    </div>
    <div class="centauri">
        <p class="centauri-text">Próxima Centauri-B</p>
        <img src="/img/centauri-b.jpg" alt="Próxima Centauri-B" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">10.000.000</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Próxima Centauri-B" data-preco="10000000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
    </div>
    <div class="pilar">
        <p class="pilar-text">Pilar da Criação</p>
        <img src="/img/criacao.jpg" alt="Pilar da Criação" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">50.000.000</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Pilar da Criação" data-preco="50000000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
    </div>
</div>
<div class="container-2">
    <div class="marte">
        <p class="marte-text">Marte</p>
        <img src="/img/marte.png" alt="Marte" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">500.000</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Marte" data-preco="500000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
    </div>
    <div class="saturno">
        <p class="saturno-text">Saturno</p>
        <img src="/img/saturno2.jpg" alt="Marte" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">1.000.000</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Saturno" data-preco="1000000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
    </div>
    <div class="lua">
        <p class="lua-text">Lua</p>
        <img src="/img/lua3.jpg" alt="Lua" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">300.000</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Lua" data-preco="300000" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
    </div>
</div>
